<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head::head">
</head>
<body>

    <div class="row" style="width: 100%;">
        <div class="col-lg-12" >
            <nav  class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Portal</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" th:href="@{'/'}">Home</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" th:href="@{'/signin'}" sec:authorize="isAnonymous()">SIGN IN</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{'/signup'}" sec:authorize="hasAnyRole('ROLE_DEANOFFICE')">Add Student</a>
                            </li>

                            <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false" th:text="${currentUser.fullName}">

                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" th:href="@{'/profilePage'}">Profile</a></li>

                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="JavaScript:void(0)" onclick="document.getElementById('exitForm').submit()">Logout</a></li>
                                </ul>
                                <form th:action="@{'/toExit'}" id="exitForm"></form>
                            </li>

                        </ul>
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="row mt-3 ">
        <div class="col-2" sec:authorize="isAuthenticated()">
            <div  sec:authorize="hasAnyRole('ROLE_STUDENT')">
                <ul>
                    <li style="list-style-type:none"><a style="text-decoration: none" th:href="@{'/profilePage'}">Student Profile</a></li>
                    <li style="list-style-type:none"><a style="text-decoration: none" th:href="@{'/courses/'+${currentUser.id}}">Course registration</a></li>
                    <li style="list-style-type:none"><a style="text-decoration: none" th:href="@{'/grade'}">Grades List</a></li>
                    <li style="list-style-type:none"><a style="text-decoration: none" href="#">Attendance</a></li>

                    <li style="list-style-type:none"><a style="text-decoration: none" href="#">Transcript</a></li>
                    <li style="list-style-type:none"><a style="text-decoration: none" th:href="@{'/toExit'}">Sign out</a></li>
                </ul>
            </div>
            <div  sec:authorize="hasAnyRole('ROLE_TEACHER')">
                <ul>
                    <li style="list-style-type:none"><a style="text-decoration: none" th:href="@{'/profilePage'}">Profile</a></li>
                    <li style="list-style-type:none"><a style="text-decoration: none" th:href="@{'/teacherCourses'}">My Courses</a></li>
                    <li style="list-style-type:none"><a style="text-decoration: none" th:href="@{'/grade'}">Grading</a></li>
                    <li style="list-style-type:none"><a style="text-decoration: none" href="#">Attendance</a></li>
                    <li style="list-style-type:none"><a style="text-decoration: none" th:href="@{'/toExit'}">Logout</a></li>
                </ul>
            </div>
        </div>
        <div class="col-10" layout:fragment="content">
        </div>
    </div>


</div>



<div th:replace="fragments/footer::footer"></div>
</body>
</html>