<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="layouts/layout.html"
>

<div layout:fragment="content">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <h2 class="text-center">GRADES</h2>
            <table class="table mt-2">
                <thead>
                <tr>

                    <th scope="col">Course Code</th>
                    <th scope="col">Course Name</th>
                    <th scope="col">Credits</th>
                    <th scope="col">Grade</th>

                </tr>
                </thead>
                <tbody>
                <tr  th:each="course:${courseMark}">
                    <th  scope="row" th:text="${course.course.code}"></th>
                    <td th:text="${course.course.name}"></td>
                    <td th:text="${course.course.credits}"></td>
                    <td th:text="${course.markValue==0}?'grade not set':${course.markValue}"></td>

                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th>GPA:</th>
                </tr>

                </tbody>
            </table>

        </div>
    </div>

   </div>

</html>