<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="layouts/layout.html"
>

<div layout:fragment="content">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <h2 class="text-center">GRADES</h2>
            <table class="table mt-2">
                <thead>
                <tr>

                    <th scope="col">Student name</th>
                    <th scope="col">Grade</th>



                </tr>
                </thead>
                <tbody>
                <tr  >

                    <td   th:text="${student.fullName}"></td>
                    <td th:text="${courseMark.markValue}"></td>


                </tr>

                </tbody>
            </table>

        </div>
    </div>

   </div>

</html>