<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="layouts/layout.html"
>

<div layout:fragment="content">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <h2 class="text-center">GRADES</h2>
            <table class="table mt-2">
                <thead>
                <tr>

                    <th scope="col">Student name</th>
                    <th scope="col">Grade</th>



                </tr>
                </thead>
                <tbody>
                <tr  th:each="c:${courseStudents}">

                    <td   th:text="${c.student.fullName}"></td>
                    <form th:action="@{'/grade-details/'+${c.student.id}+'/'+${c.course.id}+'/'+${c.teacher.id}}" method="post">
                        <td><input type="text" name="newMark" th:value="${c.markValue==0}?'grade not set':${c.markValue}"></td>
                        <td><button class="btn btn-secondary">Save</button></td>
                    </form>

                </tr>

                </tbody>
            </table>

        </div>


    </div>


    </div>

   </div>

</html>